@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome To Quiz Game</h1>
    <hr />
    <h3 class="text-info">Navigate to Question link in order play quiz game page.</h3>
</div>
